body {
    overflow: hidden;
}

#body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
        url('/assets/home-page-background.jpg');
    background-position: center;
    background-size: contain;
    height: 90vh;
}