#body{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
        url('/assets/signup-bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;;
}