<div id="body" class="pt-5">
    <div class="card mx-auto border border-1 p-4 col-11 rounded shadow col-lg-8 bg-light">
        <h2 class=" text-center fw-bold text-success">Register</h2>
        <form action="" [formGroup]="signupForm">
            <div class="form-group mb-2">
                <label for="" class="fw-semibold mb-1 fs-5 text-success">First Name</label>
                <input type="text" class="form-control" formControlName="first_name" [class.is-invalid]="signupForm.get('first_name')?.errors && signupForm.get('first_name')?. touched" [class.is-valid]="!signupForm.get('first_name')?.errors && signupForm.get('first_name')?. touched">
                @if (signupForm.get('first_name')?. errors && signupForm.get('first_name')?. dirty){
                    <span class="text-danger" *ngIf="signupForm.get('first_name')?.hasError('required')">First name cannot be empty</span>
                    <span class="text-danger" *ngIf="signupForm.get('first_name')?.hasError('minlength')">First name cannot be less than 5 characters</span>
                }
            </div>
            <div class="form-group mb-2">
                <label for="" class="fw-semibold mb-1 fs-5 text-success">Last Name</label>
                <input type="text" class="form-control" formControlName="last_name" [class.is-invalid]="signupForm.get('last_name')?.errors && signupForm.get('last_name')?. touched" [class.is-valid]="!signupForm.get('last_name')?.errors && signupForm.get('last_name')?. touched">
                @if (signupForm.get('last_name')?. errors && signupForm.get('last_name')?. dirty){
                    <span class="text-danger" *ngIf="signupForm.get('last_name')?.hasError('required')">Last name cannot be empty</span>
                    <span class="text-danger" *ngIf="signupForm.get('last_name')?.hasError('minlength')">Last name cannot be less than 5 characters</span>
                }
            </div>
            <div class="form-group mb-2">
                <label for="" class="fw-semibold mb-1 fs-5 text-success">Email</label>
                <input type="email" class="form-control" formControlName="email" [class.is-invalid]="signupForm.get('email')?.errors && signupForm.get('email')?. touched" [class.is-valid]="!signupForm.get('email')?.errors && signupForm.get('email')?. touched">
                  @if (signupForm.get('email')?. errors && signupForm.get('email')?. dirty){
                    <span class="text-danger" *ngIf="signupForm.get('email')?.hasError('required')">Email cannot be empty</span>
                    <span class="text-danger" *ngIf="signupForm.get('email')?.hasError('email')">Email must be a valid email address</span>
                }
            </div>
            <div class="form-group mb-2">
                <label for="" class="fw-semibold text-success mb-1 fs-5">Password</label>
                <input type="password" class="form-control" formControlName="password" [class.is-invalid]="signupForm.get('password')?.errors && signupForm.get('password')?.touched" [class.is-valid]="!signupForm.get('password')?.errors && signupForm.get('password')?. touched">
                  @if (signupForm.get('password')?. errors && signupForm.get('password')?. dirty){
                    <span class="text-danger" *ngIf="signupForm.get('password')?.hasError('required')">Password cannot be empty</span>
                    <span class="text-danger" *ngIf="signupForm.get('password')?.hasError('pattern')">Password must contain at least one uppercase, one lowercase, one number, one special character and must not be less than 8 characters</span>
                }
            </div>
            <div class="form-group mb-2">
                <label for="" class="fw-semibold text-success mb-1 fs-5">Confirm Password</label>
                <input type="password" (keyup)="confirmPassword()" class="form-control" formControlName="confirm_password" [class.is-invalid]="signupForm.get('confirm_password')?.errors && signupForm.get('confirm_password')?.touched && !sameAs" [class.is-valid]="!signupForm.get('confirm_password')?.errors && signupForm.get('confirm_password')?. touched && sameAs">
                @if (signupForm.get('confirm_password')?. errors && signupForm.get('confirm_password')?. dirty){
                    <span class="text-danger" *ngIf="signupForm.get('confirm_password')?.hasError('required')">confirm Password cannot be empty</span>
                }
                <span class="text-danger" *ngIf="!sameAs && signupForm.get('confirm_password')?. dirty">Passwords do not match</span>
            </div>
            <div class="form-group mb-2">
                <button class="btn btn-md btn-success w-100" (click)="register()"
                    [disabled]="!signupForm.valid || !sameAs">Register</button>
            </div>
        </form>
        <div class="mx-auto my-2">
            <p>Already have an account? <a routerLink="/signin">Login</a></p>
        </div>
    </div>
</div>
